# macOS
.DS_Store

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace
go.work
go.work.sum

# Editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~

# Python
__pycache__

# KloudKnox
KloudKnox/bin

# operator-controller
operator-controller/bin

# e2e test artifacts
tests/artifacts/
